
.env

.env.local



public/storage

public/No tocar v2/reportes_parciales/

public/No tocar v2/userImg/
public/storage/userImg/GLOkBKqYbtHJOTrq6iJefG2ApMyQnhTBEdepCQRE.png
public/storage/userImg/QPE8PpD6gv0uDao5mdt1PDHyTbrg7jmJ6jyzBSHR.jpg
public/storage/userImg/sjd0nFk4JdDXoL8CQvS5ahKaNDvFG5Luy3aSHWIp.png
storage/app/public/reportes_parciales/LcGoreat5Z9LzyvqEjsXCewAlhJFpfLRVm6bVDqF.pdf
public/storage/userImg/GLOkBKqYbtHJOTrq6iJefG2ApMyQnhTBEdepCQRE.png
public/storage/userImg/QPE8PpD6gv0uDao5mdt1PDHyTbrg7jmJ6jyzBSHR.jpg
public/storage/userImg/sjd0nFk4JdDXoL8CQvS5ahKaNDvFG5Luy3aSHWIp.png
public/storage/userImg/GLOkBKqYbtHJOTrq6iJefG2ApMyQnhTBEdepCQRE.png
public/storage/userImg/QPE8PpD6gv0uDao5mdt1PDHyTbrg7jmJ6jyzBSHR.jpg
public/storage/userImg/sjd0nFk4JdDXoL8CQvS5ahKaNDvFG5Luy3aSHWIp.png

storage/app/public/
storage/app/public/reportes_parciales